<%- include("../partial/adminheader.ejs") %>

<div class="row justify-content-center" id="title_admin">
	<div class="col-12 col-md-7 col-lg-5">
		<h1>ORDERS</h1>
	</div>
</div>

<div class="container ctnorderproduct">
	<div class="row">
		<div class="col-12">
			<table class="table table-image table-striped">
				<thead>
					<tr>
						<th scope="row">
						<th scope="col">
							<P>ORDER NO</P>
						</th>
						<th scope="col">
							<P>NAME</P>
						</th>
						<th scope="col">
							<P>ADDRESS</P>
						</th>
						<th scope="col">
							<P>PRICE</P>
						</th>
						<th scope="col">
							<P>WEEKS</P>
						</th>
						<th scope="col">
							<P>EDIT</P>
						</th>
						</th>
					</tr>
				</thead>
				<tbody>
					<% fiveOrders.forEach((orders) => { %>
					<tr>
						<th scope="row">
						<td class="w-15">
							<p><%=orders.orderno %></p>
						</td>

						<td class="w-15">
							<p><%=orders.name %></p>
						</td>
						<td class="w-15">
							<p><%=orders.address %></p>
						</td>
						<td class="w-15">
							<p><%=orders.price %></p>
						</td>
						<td class="w-15">
							<p><%=orders.weeks %></p>
						</td>
						<td class="w-15">
							<a href="/admin/editproduct/<%=orders._id%>"><img src="/images/edit.svg" alt="edit"
									class="img-fluid img-thumbnail"></a>
						</td>
						</th>
					</tr>
					<% }) %>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-12 ">
			<% for(let page=1; page <= pagesCount && pagesCount > 1; page++ ) { %>
			<% if (currentPage === page) { %>
			<a href="/admin/orders/?page=<%=page%>"><button class="pages"><span class="pagetxt"><%=page%></span></button></a>
			<% } else { %>
			<a href="/admin/orders/?page=<%=page%>"><button class="pages">
					<span><%=page%></span>
				</button></a>
			<%  } %>

			<% } %>
		</div>
	</div>
</div>

<%- include("../partial/adminfooter.ejs") %>