<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WEB SURFERS</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row fullheight">

            <!-- Navbar -->
            <div class="col-12 navbarmenu">
                <div class="row">
                    <div class="col-2">
                        <a href="#" class="headerlink">
                            <img src="../images/logo_red.svg" alt="logo" class="logoimg">
                        </a>
                    </div>
                    <div class="col-8 col-md-4 navlinks">
                        <a href="/login" class="nav-item">LOG IN</a>
                        <a href="/signup" class="nav-item">SIGN UP</a>
                    </div>
                    <div class="col-2 col-md-5">
                        <a href="#" class="basketwrapper">
                            <img src="../images/cart.svg" alt="basket" class="basketlogo">
                        </a>
                    </div>
                </div>
            </div>

            <!-- Section two -->
            <% oneCourse.forEach( (course) => { %>
            <div class="col-12 col-md-5 sectiontwo col order-md-2">

                <div class="row fullheight">
                    <div class="imgsection_static fullheight">
                        <img src="<%= course.image %> ">
                    </div>
                </div>
            </div>

            <!-- Section three ÄNDRA FÄRG PÅ ALLA -->
            <div class="col-12 col-md-1 col sectionthree costaricared order-md-3">
                <div class="row fullheight">
                    <div class="col-4 col-md-12 nextsideup">
                        <!-- LOOP -->
                        <a class="" href="#">
                            <img src="../images/arrow_left.svg" alt="next side" class="arrowleft">
                        </a>
                        <a class="" href="#">
                            <img src="../images/arrow_up.svg" alt="next side" class="arrowup">
                        </a>
                    </div>
                    <div class="col-4 col-md-12 countrymenu-desktop">

                        <% for(let page=1; page <= pagesCount && pagesCount > 1; page++ ) { %>
                        <% if (currentPage === page) { %>
                        <a href="/course/?page=<%=page%>"><span class="pagetxt"><%= course.country %></span></a>
                        <% } else { %>
                        <a href="/course/?page=<%=page%>">
                            <span><%= course.country %></span>
                        </a>
                        <%  } %>
                        <% } %>
                    </div>
                    <div class="col-4 col-md-12 nextsidedown">
                        <a class="" href="#">
                            <img src="../images/arrow_right.svg" alt="next side" class="arrowright">
                        </a>
                        <a class="" href="#">
                            <img src="../images/arrow_down.svg" alt="next side" class="arrowdown">
                        </a>
                        <!-- LOOP END -->
                    </div>
                </div>
            </div>


            <!-- Section one -->

            <div class="col-12 col-md-6 sectionone col order-sm-3 order-md-1">
                <div class="row fullheight">


                    <div class="col-12 content">
                        <form action="/checkout" class="col-12" method="POST">
                            <!--LOOP-->
                            <h1 class="courseTitle"><%= course.title %></h1>
                            <div class="">
                                <p class="courseDescription">
                                    <%= course.description %>
                                </p>
                            </div>
                            <select class="dropdown-menu">
                                <option selected>How many weeks?</option>
                                <option class="weeks"><%= course.weekone %></option>
                                <option class="weeks"><%= course.weektwo %></option>
                                <option class="weeks"><%= course.weekthree %></option>
                                <option class="weeks"><%= course.weekfour %></option>
                            </select>
    
                            <button type="button" class="buttonred">Book</button>
                        </form>

                        <!-- <div class="dropdown">
        <button class="inputlong " type="button" data-toggle="dropdown">
            How long do you want to be away?
            <img src="/images/dropdown.svg" class="imgdropdown"/>
            <span class="caret"></span> 
        </button>
        -->
                        <!-- <select class="dropdown-menu">
                            <option selected>How many weeks?</option>
                            <option class="weeks"><%= course.weekone %></option>
                            <option class="weeks"><%= course.weektwo %></option>
                            <option class="weeks"><%= course.weekthree %></option>
                            <option class="weeks"><%= course.weekfour %></option>
                        </select>

                        <button type="button" class="buttonred">Book</button> -->
                        <!-- </div> -->
                        <!--LOOP END-->
                        <% }); %>
                    </div>
                    <%- include("./partial/maincfooter.ejs") %>