<%- include("./partial/mainheader.ejs") %>

    <h1 class="coursetitle"><%= product.title %></h1>
    <p class="coursedescription">
        <%= product.description %>
    </p>
    <div class="dropdown">
    <button class="inputlong dropdown-toggle" type="button" data-toggle="dropdown">
        How long do you want to be away?
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li class="weeks"><%= product.weeks %></li>
        <li class="weeks"><%= product.weeks %></li>
        <li class="weeks"><%= product.weeks %></li>
        <li class="weeks"><%= product.weeks %></li>
    </ul>
    <button type="button" class="buttonblue">Book</button>

<%- include("./partial/mainfooter.ejs") %>